/*Tablet Ver.*/
.profile {
  height: 400px;
  width: 100%;
  
  background-color: #29ec6a;
  background-image: url("../images/fablic-light.png");
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
}

.name span{
  font-weight: 600;
}

.profile .name h2 {
  color: white;
  font-weight: 300;
}

/*Desktop Ver.*/
@media only screen and (min-width: 1024px) {
  .profile { 
    width: 60%;
    margin-top: 5%;
    margin-left: 4.5em;
  }

  .profile img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}