.nav-Bar {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  
  background-color: #4056A1;
  color: #FFFFFF;
  
  display: flex;
  justify-content: space-between;
  align-items: center;  

  position: fixed;
  top:0;
}

.heading {
    color: #FFFFFF;
    font-family: "Bungee";
    font-size: larger;
    margin: 1.5em;

}

.writeNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5em;
    margin: 0;

}

#arrowDoubleDown {
    color: tomato;
}