/*Tablet Ver.*/
.nav-Spec {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  
  color: #FFFFFF;
  background-color: #4056A1;
  
  display: flex;
  justify-content: space-between;
  align-items: center;  

  position: fixed;
  top:0;
}

.heading {
  margin: 1.5em;
  
  color: #FFFFFF;
  font-family: "Bungee";
  font-size: 35px;
}

.nav-Spec footer .writeNew {
  margin: 1.5em;
  
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;

}

/*Arrow Details*/
.nav-Spec footer .fa-solid {
  color: rgb(228, 74, 54);
  font-size: 1.0em;
}

@media only screen and (min-width:1024px) {
  .nav-Spec {
    height: 150px;
  }

  .heading {
    font-size: 45px;
  }
  .nav-Spec footer .writeNew {
    font-size: 35px;
  }

  .nav-Spec footer .fa-solid {
    color: rgb(228, 74, 54);
    font-size: 1.0em;
  }

}
