/*Tablet Ver.*/
.nav-Bar {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  
  color: #FFFFFF;
  background-color: #4056A1;
  
  display: flex;
  justify-content: space-between;
  align-items: center;  

  position: fixed;
  top:0;
}

.heading {
  margin: 1.5em;
  
  color: #FFFFFF;
  font-family: "Bungee";
  font-size: 35px;
}

.nav-Bar footer .writeNew {
  margin: 1.0em;
  
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #4056A1;
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;

}

#arrow {
  margin-top: 0.5em; 
  
  color: rgb(228, 74, 54);
  font-size: 1.5em;
}
