/*Tablet Ver.*/
article:hover {
  box-shadow: 5px 10px;
  color: 545149
}

.tweet-container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5em;    
}


.tweet-header {
  margin: 0.5em;

  display: flex;
  justify-content: space-between;
    
  font-size: 20px;
}

.tweet-footer {
  padding: 20px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  
  border-top: solid;
  
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
  